<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>!@%^*#@#@$%!@</title>
    <script src="/static/js/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>

<body>
    <button onclick="f1()">登录</button><br>
    <button onclick="f2()">退出</button><br>
    <button onclick="f3()">客户信息</button><br>
    <button onclick="f4()">订单信息</button><br>
    <button onclick="f5()">房间信息</button><br>
    <button onclick="f6()">退款信息</button><br>
    <input type="text" placeholder="房间号" id="fenpeizixishi">
    <button onclick="f7()">分配自习室</button><br>
    <button onclick="f8()">设置房间信息</button><br>
    <button onclick="f9()">退款受理</button><br>
</body>

</html>
<script>
    var u = "http://120.27.208.220"
    // 登录功能服务端测试
    function f1() {
        alert(1)
        $.ajax({
            url: u + "/mgrlogin",
            method: "POST",
            data: {
                name: 'admin',
                passwd: '123456'
            },
            success(res) {
                console.log('login:');
                console.log(res);
                console.log($.cookie('username'), $.cookie('buildingID'));
            }
        })
    }

    // 退出功能服务端测试
    function f2() {
        $.ajax({
            url: u + "/mgrlogout",
            method: "POST",
            data: {
                name: $.cookie('username'),
                id: $.cookie('buildingID')
            },
            success(res) {
                console.log('logout:')
                console.log(res)
                console.log($.cookie('username'), $.cookie('buildingID'))
            }
        });
    }

    // 客户信息功能服务端测试
    function f3() {
        $.ajax({
            url: u + "/cusomerinfo",
            method: "POST",
            data: {
                id: $.cookie('buildingID')
            },
            success(res) {
                console.log('客户信息：');
                console.log(res);
            }
        });
    }

    // 订单信息功能服务端测试
    function f4() {
        $.ajax({
            url: u + "/orderlist",
            method: "POST",
            data: {
                id: $.cookie('buildingID')
            },
            success(res) {
                console.log('订单信息')
                console.log(res);
            }
        });
    }

    // 房间信息功能服务端测试
    function f5() {
        $.ajax({
            url: u + "/roominfo",
            method: "POST",
            data: { id: $.cookie('buildingID') },
            success(res) {
                console.log("房间信息")
                console.log(res);
            }
        });
    }

    // 退款信息功能服务端测试
    function f6() {
        $.ajax({
            url: u + "/refundinfo",
            method: "POST",
            data: { id: $.cookie('buildingID') },
            success(res) {
                console.log("退款信息：")
                console.log(res);
            }
        });
    }

    // 分配自习室功能服务端测试
    function f7() {
        $.ajax({
            url: u + "/allocate",
            method: "POST",
            data: {
                room_number: $('#fenpeizixishi').val(),
                id: $.cookie('buildingID')
            },
            success(res) {
                console.log(res)
            }
        });
    }

    // 设置房间信息功能服务端测试
    function f8() {
        $.ajax({
            url: u + "/setroominfo",
            method: "POST",
            data: {
                buildID: $.cookie('buildingID'),
                roomID: '202',
                type: '多人自习室?',
                price: 99,
                detail: '啥都有'
            },
            success(res) {
                console.log(res)
            }
        });
    }

    // 退款受理功能服务端测试
    function f9() {
        $.ajax({
            url: u + "/setrefund",
            method: "POST",
            data: { id: 1 },
            success(res) {
                console.log(res)
            }
        });
    }
</script>