body{
    margin: 0;
    padding: 0;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#header{
    height: 40px;
    border-bottom: 1px solid;

}
#header a{
    float: right;
    border: 1px solid;
    height: 20px;
    margin-top: 10px;
}